<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.yuchting.yuchdroid.client"
      android:versionCode="2" android:versionName="1.9.1405">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name"
        android:name=".YuchDroidApp">
        			
        <service android:name=".ConnectDeamon"/>
        
        <activity android:name=".mail.HomeActivity" 
        	android:label="@string/title_mail" 
        	android:icon="@drawable/icon"
        	android:launchMode="singleTop">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Yuchdroid16Activity"
			android:label="@string/login_title_name"
			android:launchMode="singleTop">
        </activity>
        	        	
        <activity android:name=".DebugInfoActivity" 
        	android:label="@string/title_debug_info" />
        	
        <activity android:name=".GlobalDialog"
        	android:label="@string/app_name" 
        	android:theme="@style/Theme.Transparent"/>
        	
        <activity android:name=".mail.MailOpenActivity"
        	android:label="Mail Subject"/>
        	
        <activity android:name=".mail.MailComposeActivity"
        	android:label="@string/mail_compose_title">
        	<intent-filter>
	            <action android:name="android.intent.action.SEND" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="text/*" />
         	</intent-filter>
        </activity>
        
        <activity android:name=".mail.MailComposeActivity"
        	android:label="@string/mail_compose_title"
        	android:icon="@drawable/mail_open_attachment_item_icon">
        	<intent-filter>
	            <action android:name="android.intent.action.CHOOSER" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="text/*" />
         	</intent-filter>
        </activity>

        <activity android:name=".ConnectPrefActivity"
        	android:label="@string/login_pref_title"/>
        	
        <activity android:name=".YuchLogonActivity"
        	android:label="@string/yuch_logon_sign_title"/>
        	
        <activity android:name=".mail.MailPrefActivity"
        	android:label="@string/mail_pref_title"/>
        	
        <activity android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        	
        <receiver android:name=".BootConnectRecv">  
		    <intent-filter>  
		        <action android:name="android.intent.action.BOOT_COMPLETED" />  
		    </intent-filter>  
		</receiver>		        

    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />    
</manifest>