<?xml version="1.0" encoding="UTF-8"?>
<Yuchberry userPassword="198466" serverPort="9755" pushInterval="30" userSSL="0" convertoSimpleChar="0" ><EmailAccount account="suyuke@vip.qq.com" password="syk880318" useFullNameSignIn="1" protocol="pop3" host="pop.qq.com" port="110" protocol_send="smtp" host_send="smtp.qq.com" port_send="25" appendHTML="0" /></Yuchberry>