<?xml version="1.0" encoding="UTF-8"?>
<Yuchberry userPassword="111111" serverPort="9716" pushInterval="30" userSSL="0" convertoSimpleChar="0" >
	<EmailAccount 
		account="tzt-123@163.com" 
		password="" 
		cryptPassword="8dbf031d4b9b5e96ef8857158d44258d"
		
		sendName="tzz" 
		
		useFullNameSignIn="0" 
		
		protocol="imap" 
		host="imap.163.com" 
		port="143" 
		protocol_send="smtp" 
		host_send="smtp.163.com" 
		port_send="25" 
		appendHTML="0" />
		
</Yuchberry>