<?xml version="1.0" encoding="UTF-8"?>
<Yuchberry userPassword="111111" serverPort="9716" pushInterval="90" userSSL="0" convertoSimpleChar="0" >
<EmailAccount account="tigeryang911@gmail.com" signinName="" password="tiger333333" sendName="TigerYang911" useFullNameSignIn="0" protocol="pop3s" host="imap.gmail.com" port="995" protocol_send="smtp" host_send="smtp.gmail.com" port_send="587" appendHTML="0" />
</Yuchberry>