<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.yuchting.yuchberry.yuchsign.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>payServlet</servlet-name>
    <servlet-class>com.yuchting.yuchberry.yuchsign.server.PayServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>payServlet</servlet-name>
    <url-pattern>/pay/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>payOKServlet</servlet-name>
    <servlet-class>com.yuchting.yuchberry.yuchsign.server.PayOKServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>payOKServlet</servlet-name>
    <url-pattern>/payok/*</url-pattern>
  </servlet-mapping>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Yuchsign.html</welcome-file>
  </welcome-file-list>

</web-app>
